<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>历史碎片 Fragments</title>
    <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Crect width='16' height='16' fill='%234c4942'/%3E%3Crect x='3' y='3' width='3' height='10' fill='%23ece8dd'/%3E%3Crect x='7.5' y='5' width='3' height='8' fill='%23b0473a'/%3E%3C/svg%3E" />
    <script type="module" crossorigin src="./assets/index-ChVQvs4w.js"></script>
    <link rel="stylesheet" crossorigin href="./assets/index-BB6t_Ar4.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
